body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

p {
  line-height: 2;
  margin-bottom: 100px;
}

h1 {
  font-size: 5.625rem;
  margin:50px auto 0 auto ;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  border-color: #EAF6F6;
  width: 8%;
}
/*************************************************************************/

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}


.pro {
  text-decoration : underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/************************************************************************/
.middle-container {
  margin-top: 50px;
}
.picture {
  border-radius: 100%;
}

.skills {
  margin-top: 100px;
}
.skill-row {
  margin: 100px auto 100px auto;
  left: 500px;
  width: 50%;
  text-align: left;
  line-height: 2;
}


.python {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.C {
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.html {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

/************************************/

.bottom-container {
  margin-top: 100px;
  padding: 50px;
  background-color: #66BFBF;
  height: 150px;
}

.contact-me {
  margin-top: 100px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4,  #11999e);
  background-image: -o-linear-gradient(top, #11cdd4,  #11999e);
  background-image: linear-gradient(to bottom, #11cdd4,  #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link {
  padding: 100px;
  color: #11999E;

}
.logo {
  color: #EAF6F6;
  position: relative;
  top: 30px;

}
